.container {
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
}

.overlay-text {
    position: absolute;
    font-size:72px;
    color: white;
    top:10%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.clockrow {
    background-image: url('./img/chicagoevening.jpg');
    background-size: contain;
    height: 70vh;
    width: 60vw;
    background-repeat: no-repeat;
    margin-left: 15vw;
    
}


